<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venue</title>
</head>
<body>
    <h1>Add a Venue</h1>
    <form  method="Post">
        <label for ="name">Name of Venue</label>
        <input type="text" name="name" required>
        <br>
        <label for ="location">Location of Venue</label>
        <input type="text" name="location" required>
        <br>
        <label for ="capacity">Capacity of Venue</label>
        <input type="number" name="capacity" required>
        <br>
        {% if event %}
        <h3>Select Events</h3>
       
        {% for e in event %}
        
        <label for ="event">{{e['name']}}</label>
            <input type="checkbox" name=event value="{{e['name']}}">
          
        
        {% endfor %}
        {% endif %}
        <br>
        <input type="submit" value="Submit">
    </form>    
    <a href="{{ url_for('index') }}">Home</a>

</body>
</html>