<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
</head>
<body>
    <h1>Events</h1>
    {% for e in event %}
    <p><h4>Name: {{e['name']}}</h4>  </p>
    <h2>Venues:</h2>
    <ul>
    {% for venue in e.venues %}
        <li><a href="{{ url_for('book', id=e.event_id,venue_id=venue.venue_id) }}">{{ venue.name }}</a></li>
    {% endfor %}
    </ul>
    {% endfor %}
    <a href="{{ url_for('index') }}">Home</a>
</body>
</html>