<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
</head>
<body>
    <h1>Venues</h1>
    {% for v in venue %}
    <p><h4>Name: {{v['name']}}</h4>  </p>
    <h2>Events:</h2>
    <ul>
    {% for event in v.events %}
        <li><a href="{{ url_for('book', id=event.event_id,venue_id=v.venue_id) }}">{{ event.name }}</a></li>
    {% endfor %}
    </ul>
    {% endfor %}
    <a href="{{ url_for('index') }}">Home</a>
</body>
</html>