<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Event</title>
</head>
<body>
     {% if error %}
        {{error}}
     {% endif %}
      <h1>Name of Event : {{event['name']}}</h1>
      <P>Duration of Event:{{event['duration']}} <br><br>
         Ticket Price: {{event['price']}}<br><br>
          Seats Left : {{v_e['capacity']}}

        </P>
       <br>
       <form method="POST">
       <label >Number of Tickets to book:</label>
       <input type =text name="tickets">
       <input type="submit" value="Book">
    </form>
    <a href="{{ url_for('index') }}">Home</a>
</body>
</html>