<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venue</title>
</head>
<body>
    <h1>Removing Events</h1>
    <form  method="Post">
        
        <h3>Select Events to remove</h3>
        {% for e in events %}
        
        <label for ="event">{{e['name']}}</label>
            <input type="checkbox" name=event value="{{e['name']}}">
          
        
        {% endfor %}
        <br>
        <input type="submit" value="Submit">
    </form>    
    <a href="{{ url_for('index') }}">Home</a>
</body>
</html>