<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event</title>
</head>
<body>
    <h1>Add an Event</h1>
    <form method="POST">
        <label for="name">Name of Event</label>
        <input type="text" name="name" required>
        <br>
        <label for="price">Ticket price of Event</label>
        <input type="number" name="price" step="any" required> 
        <br>
        <label for="duration">Duration of Event (in minutes)</label>
        <input type="number" name="duration" required>
        <br>
        {% if venue %}
        <h3>Select Venue</h3>
        {% for v in venue %}
        <label for="venue">{{v['name']}}</label>
        <input type="checkbox" name="venue" value="{{v['name']}}">
        {% endfor %}
        {% endif %}
        <br>
        <input type="submit" value="Submit">
    </form>
    <a href="{{ url_for('index') }}">Home</a>
</body>
</html>
