<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venue</title>
</head>
<body>
     <h1>Updating Events</h1>
    <form method="POST">
   
    <div class="form-group">
        <label for="event_id">Select Event : </label>
        <select class="form-control" id="event" name="event_id">
            {% for e in events %}
            <option value="{{e.event_id}}">{{ e['name'] }}</option>
            {% endfor %}
        </select>
    </div>
    <label for ="name">Name of Event</label>
    <input type="text" name="name" required>
    <label for ="price">Tcket price of Event</label>
    <input type="number" name="price" required>
    <label for ="duration">Duration of Event (in minutes)</label>
    <input type="number" name="duration" required>
    <br>
    <h3>Select Venue</h3>
    {% for v in venue %}
    
    <label for ="venue">{{v['name']}}</label>
        <input type="checkbox" name=venue value="{{v['name']}}">
      
    
    {% endfor %}
    <br>

    <input type="submit" value="Submit">
        
</form>    
<a href="{{ url_for('index') }}">Home</a>
</body>
</html>
