<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venue</title>
</head>
<body>
     <h1>Updating Venues</h1>
    <form method="POST">
   
    <div class="form-group">
        <label for="venue_id">Select Venue</label>
        <select class="form-control" id="venue" name="venue_id">
            {% for v in venue %}
            <option value="{{v.venue_id}}">{{ v['name'] }}</option>
            {% endfor %}
        </select>
    </div>
        <label for="name">Name of Venue</label>
        <input type="text" name="name" required>
        <br>
        <label for="location">Location of Venue</label>
        <input type="text" name="location" required>
        <br>
        <label for="capacity">Capacity of Venue</label>
        <input type="number" name="capacity" required>
        <br>
        <h3>Select Events</h3>
        {% for e in events %}        
        <label for="event">{{e['name']}}</label>
        <input type="checkbox" name="event" value="{{e['name']}}">
        {% endfor %}
        <br>
        <input type="submit" value="Submit">
    </form>    
    <a href="{{ url_for('index') }}">Home</a>
</body>
</html>
